<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kabirnayeem99.paymentpaid">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaymentPaid">

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WorksActivity"
            android:label="@string/activity_works">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kabirnayeem99.paymentpaid.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.AddNewWorkActivity"
            android:label="@string/activity_add_new_work">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kabirnayeem99.paymentpaid.activities.WorksActivity" />
        </activity>

        <activity
            android:name=".activities.ExportActivity"
            android:label="@string/activity_export">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kabirnayeem99.paymentpaid.activities.HomeActivity" />
        </activity>

        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/activity_payment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kabirnayeem99.paymentpaid.activities.HomeActivity" />
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>